// Import page-specific CSS files here.
@import "home";

.wrap {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.background-image {
  background-repeat: none;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
