<div class="bg-2 wrap">
  <div class="container d-flex justify-content-center mt-5 pt-5 flex-column text-white text-center">
    <h1 class="text-center fw-bold" style="font-size: 64px;">Booking confirmed!!</h1>
    <h1 class="fw-bold">Thank you for booking with us!</h1>
    <h2>
      Thank you for your reservation with SailsVibe. We're dedicated to giving you the best experience possible.
      If you have any questions, please reach out to support@sailsvibe.com.
    </h2>
  </div>
</div>
