<div class="cards">
  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.boatinternational.com/files/2021/05/db657020-bf27-11eb-a38c-6f720ff20a6d-soaring-wsa.jpg" alt="Picture of Yacht 1">
    <div class="card-title">
      <h1>Sony 33 Golden</h1>
    </div>
    <div class="card-divider">
      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> Williamstown </p>
        <p> $9000/day </p>
      </div>

      <div class="card-content">
        <i class="fa-solid fa-location-dot"></i>
        <p> 12 Guests </p>
        <p> 4 Stars </p>
      </div>
    </div>
  </div>
</div>
